<div class="container container-cover" style="height:80em; min-width:23em;">
<div class="" style="height: 92%">
<div class="col-md-12" style="height:100%">
<div class="row" style="height: 20%;">

			<a class="linky" href="../1">
			<div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
				<div class="col-md-12 col-xs-12 hvr-float" style="background:white; border-left: #A7B858 12px solid;height: 100%;-webkit-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
					<div class="row" style="height:100%;">
						<div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/IxkcDxi.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;top: 50%;transform: translateY(-50%);">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
							<div class="row" style="height: 100%; ">
								<div class="track-title-box" style="margin-top: 7%;">
									<p class="track-title" style="color:black; font-weight: 400; font-size: 1.8em; line-height: 1.2;">Data Science</p>
								</div>
								<div class="track-description-box">
									<p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Gain knowledge on one of the hottest professions of the 21st century. Data Scientists interpret data and transforms it into solutions to meaningful business problems</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>
			

			<a href="../2">
			<div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height:100%; margin-bottom:2%;">
				<div class="col-md-12 col-xs-12 hvr-float" style="background:white; border-left: #2D8D7F 12px solid;height: 100%;-webkit-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
					<div class="row" style="height:100%;">
						<div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/M6QVjka.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;transform: translateY(7%);">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height: 100%; display: flex; align-items: center; justify-content: center;">
							<div class="row" style="height: 100%; ">
								<div class="track-title-box" style="margin-top: 7%;">
								<p class="track-title" style="color:black;font-weight: 400; font-size: 1.8em; line-height: 1.2;">Big Data</p>
								</div>
								<div class="track-description-box" style="padding-top: 8%;">
								 <p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;"> Learn to create Big Data workflows on the Cloud.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>
</div>

<div class="row" style="height: 20%;">
			<a href="../3">
			<div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
				<div class="col-md-12 col-xs-12 hvr-float" style="background: white; border-left: #00545F 12px solid; height:100%;-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
					<div class="row" style="height:100%;">
						<div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/99hcOLc.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;top: 50%;transform: translateY(-50%);">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
							<div class="row" style="height: 100%; ">
								<div class="track-title-box" style="margin-top: 7%;">
								<p class="track-title" style="color:black;font-weight: 400; font-size: 1.8em; line-height: 1.2;">Artifical Intelligence</p>
								</div>
								<div class="track-description-box">
								<p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Create next level software solutions capable of showing anthropomorphic level of language, speech and understanding</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>

			<a href="../4">
			<div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
				<div class="col-md-12 col-xs-12 hvr-float" style="background: white; border-left: #523473 12px solid; height:100%;-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
					<div class="row" style="height:100%;">
						<div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/VlBrFpV.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;top: 50%;transform: translateY(-50%);">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
							<div class="row" style="height: 100%; ">
								<div class="track-title-box" style="margin-top: 7%;">
								<p class="track-title" style="color:black;font-weight: 400; font-size: 1.8em; line-height: 1.2">DevOps</p>
								</div>
								<div class="track-description-box">
								<p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Equip yourself with the skills necessary to deliver apps or services in a fast-paced work environment.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>
</div>


<div class="row" style="height:20%;">
			<a href="../5">
			<div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
				<div class="col-md-12 col-xs-12 hvr-float" style="background: white; border-left: #FAA54B 12px solid; height:100%;-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
					<div class="row" style="height:100%;">
						<div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/CfmCrEt.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;top: 50%;transform: translateY(-50%);">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
							<div class="row" style="height: 100%; ">
							<div class="track-title-box" style="margin-top: 7%;">
							<p class="track-title" style="color:black;font-weight: 400; font-size: 1.8em; line-height: 1.2;">Modern IT Support</p>
							</div>
							<div class="track-description-box">
							<p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Engage customers with a vast set of skills to diagnose, troubleshoot and provide solutions</p>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>
	
			<a href="../6">
			<div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
				<div class="col-md-12 col-xs-12 hvr-float" style="background: white; border-left: #4A6BB1 12px solid; height:100%;-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
					<div class="row" style="height:100%;">
						<div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/1yG5A14.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;top: 50%;transform: translateY(-50%);">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
							<div class="row" style="height: 100%; ">
							<div class="track-title-box" style="margin-top: 7%;">
							<p class="track-title" style="color:black;font-weight: 400; font-size: 1.8em; line-height: 1.2;">Cloud Administration</p>
							</div>
							<div class="track-description-box">
							<p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Make the move to the Cloud. Learn to automate workloads and deployments and to understand the best practices in security and compliance</p>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>
</div>

<div class="row" style="height: 20%;">
			<a href="../7">
			<div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height:100%; margin-bottom:2%;">
				<div class="col-md-12 col-xs-12 hvr-float" style="background: white; border-left: tomato 12px solid; height:100%;-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
					<div class="row" style="height:100%;">
						<div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/FCn0Jnu.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;top: 50%;transform: translateY(-50%);">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
							<div class="row" style="height: 100%; ">
							<div class="track-title-box" style="margin-top: 7%;">
							<p class="track-title" style="color:black;font-weight: 400; font-size: 1.8em; line-height: 1.2;">Entry Level Modern Software Development</p>
							</div>
							<div class="track-description-box">
							<p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Take the first step towards your software development journey</p>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>

			<a href="../8">
			<div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
				<div class="col-md-12 col-xs-12 hvr-float" style="background: white; border-left: darkviolet 12px solid; height:100%;-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
					<div class="row" style="height:100%;">
						<div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/zhPDd1T.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;top: 50%;transform: translateY(-50%);">
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
							<div class="row" style="height: 100%; ">
							<div class="track-title-box" style="margin-top: 7%;">
							<p class="track-title" style="color:black;font-weight: 400; font-size: 1.8em; line-height: 1.2;">Front End Web Development</p>
							</div>
							<div class="track-description-box">
							<p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Produce attractive and efficient user interfaces with HTML, CSS, JavaScript, Angular, Bootstrap and JQuery</p>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>
</div>

<div class="row" style="height: 20%;">
                        <a href="../9">
                        <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height:100%; margin-bottom:2%;">
                                <div class="col-md-12 col-xs-12 hvr-float" style="background: white; border-left: #d6b409 12px solid; height:100%;-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
                                        <div class="row" style="height:100%;">
                                                <div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/7wyx2kO.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;top: 50%;transform: translateY(-50%);">
                                                </div>
                                                <div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
                                                        <div class="row" style="height: 100%; ">
                                                        <div class="track-title-box" style="margin-top: 7%;">
                                                        <p class="track-title" style="color:black;font-weight: 400; font-size: 1.8em; line-height: 1.2;">Cyber Security</p>
                                                        </div>
                                                        <div class="track-description-box">
                                                        <p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Protect yourself, others or your organization from digital attacks to systems, networks and programs</p>
                                                        </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        </a>

                        <a href="../10">
                        <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center; height: 100%; margin-bottom:2%;">
                                <div class="col-md-12 col-xs-12 hvr-float" style="background: white; border-left: #7ac1eb 12px solid; height:100%;-moz-box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);box-shadow: 10px 10px 32px 1px rgba(0,0,0,0.14);">
                                        <div class="row" style="height:100%;">
                                                <div class="col-md-5 col-sm-5 hidden-xs" style="background-image: url(https://i.imgur.com/0tXOWcs.png); float: left; background-position: center; height: 90%; background-size: contain; background-repeat: no-repeat;top: 50%;transform: translateY(-50%);">
                                                </div>
                                                <div class="col-md-7 col-sm-7 col-xs-12" style="float: right; height:100%; display: flex; align-items: center; justify-content: center;">
                                                        <div class="row" style="height: 100%; ">
                                                        <div class="track-title-box" style="margin-top: 7%;">
                                                        <p class="track-title" style="color:black;font-weight: 400; font-size: 1.8em; line-height: 1.2;">Other Courses</p>
                                                        </div>
                                                        <div class="track-description-box">
                                                        <p class="col-md-12 track-description" style="color:black; font-weight: 400; font-size: 1.09em; line-height:1.5;">Looking for something specific? These individual courses might fit your interests</p>
                                                        </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        </a>
</div>

</div>
</div>
